h1, h2 {
font-family: sans-serif;
color: gray;
}
h1 {
  border-bottom: 1px solid black;
}
p {
font-family: sans-serif;
color: maroon;
}

p.blueberry {
  color: blue;
}
p.greentea {
  color: green;
}
p.raspberry {
  color: purple;
}
